body {
    background-image: url("https://cssanimation.rocks/demo/starwars/images/bg.jpg");
    text-align: center;
    word-wrap: normal;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

form {
    color: white;
}

#submit {
    color: white;
    background-color: #000000;
    border-color: #820000;
    margin-top: 2%;
    border-radius: 25%;
}

#back {
    color: white;
    background-color: #000000;
    border-color: #820000;
    margin-top: 2%;
    border-radius: 25%;
    bottom: 10%;
}

#loader {
    visibility: hidden;
    border: 5px solid #000000;
    border-top: 5px solid #808080;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loader.show {
    visibility: visible;
}

.earth {
    width: 379px;
    height: 379px;
    position: fixed;
    top: 50%;
    bottom: 75%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
    background-image: url(https://i.pinimg.com/originals/5e/8d/77/5e8d7733d9e31bfc79c54a4e488f6f93.jpg);
    transition: transform 1ms linear;
    animation: rotate 120s linear infinite;
}

.earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
}

.earth:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
    0% {
        background-position: 630px 0;
    }
    100% {
        background-position: 0 0;
    }
}

#satelliteName {
    border: 2px solid white;
    border-color: lightgray;
    background-color: rgba(000, 0, 0, 0.75);
    border-radius: 25%;
}

#location {
    border: 2px solid white;
    border-color: lightgray;
    background-color: rgba(000, 0, 0, 0.75);
    border-radius: 25%;
}

.drpbttn {
    color: white;
    background-color: #000000;
    border-color: #820000;
    margin-top: 2%;
    border-radius: 25%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropContent {
    border: 2px solid white;
    border-color: lightgray;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}