body {
    background-color: rgb(223, 223, 223);
    text-align: center;
    height: 100%;
}

div {
    margin: 0 auto;
    text-align: center;
}

ul.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    border: 5px solid #1877f2;
    min-width: 150px;
    min-height: 150px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.bgimg {
    background-image: url('../picture/IMG_2644.jpg');
    height: 1000px;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.middle {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 40%;
}

.middleLower {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}