body {
    background-color: rgb(204, 204, 204);
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div p {
    text-align: left;
    margin: auto;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}

div {
    text-align: center;
}

header h3 {
    margin: auto;
    width: 50%;
    text-align: center;
}

main {
    margin: auto;
    width: 50%;
    text-align: center;
}

h4 {
    margin: auto;
    width: 50%;
    text-align: center;
}

footer {
    margin: auto;
    width: 50%;
    text-align: center;
}